In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline
from datetime import datetime

In [2]:
my_year = 2017
my_month = 1
my_day = 2
my_hour =13
my_mimute = 30
my_second = 15

In [3]:
my_date = datetime(2017, 1, 2)

In [7]:
my_date_time = datetime(2017, 1, 2, 13, 30, 15)

In [8]:
type(my_date_time)

datetime.datetime

In [16]:
my_date_time.second

15

In [30]:
first_two = [datetime(2017,1,1,6, 45,34), datetime(2017, 1, 2, 9, 32, 16)]

In [31]:
type(first_two)

list

In [32]:
first_two

[datetime.datetime(2017, 1, 1, 6, 45, 34),
 datetime.datetime(2017, 1, 2, 9, 32, 16)]

In [33]:
dt_ind = pd.DatetimeIndex(first_two)
dt_ind

DatetimeIndex(['2017-01-01 06:45:34', '2017-01-02 09:32:16'], dtype='datetime64[ns]', freq=None)

In [34]:
data = np.random.randn(2,2)
data

array([[ 0.90156814, -1.39318628],
       [-0.42708643,  1.32691376]])

In [35]:
cols = ['a', 'b']

In [36]:
df = pd.DataFrame(data, dt_ind, cols)
df

                            a         b
2017-01-01 06:45:34  0.901568 -1.393186
2017-01-02 09:32:16 -0.427086  1.326914

In [37]:
df.index.argmax()

1

In [38]:
df.index.argmin()

0

In [39]:
df.index.max()

Timestamp('2017-01-02 09:32:16')

In [40]:
df.index.min()

Timestamp('2017-01-01 06:45:34')